#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#title {
    align-self: center;
    color: white;
    font-family: 'Lato', sans-serif;
    word-spacing: 5%;
    font-size: 50px;
    letter-spacing: 2px;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projects div {
    outline: 5px solid white;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin: 20px;
}

#project_title {
    align-self: center;
    color: white;
    font-family: 'Lato', sans-serif;
    word-spacing: 5%;
    font-size: 30px;
    letter-spacing: 2px;
}

#project_desc {
    margin: 5px;
    list-style-type: none;
    text-align: block;
    color: white;
    font-family: 'Lato', sans-serif;
    word-spacing: 5%;
    font-size: 20px;
    letter-spacing: 2px;

}

a {
    list-style-type: none;
    color: white;
}

